.row {
  width: 100%;
}

h1 {
  margin-bottom: 35px;
  text-align: center; 
}

p {
  margin-bottom: 15px;
  padding: 20px;
  box-sizing: border-box;
  background-color: gray;
  font-family: Serif;
  color: solid black;
}

.section {
  border: 3px solid black;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}

.section-title {
  color: white;
  padding: 5px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  border: 2px solid black; 
}


#section1 .section-title {
  background-color: #3498db; 
}

#section2 .section-title {
  background-color: #e74c3c; 
}

#section3 .section-title {
  background-color: #2ecc71; 
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3 {
    float: right;
  }
  .col-lg-1 {
    width: 33.33%;
  }
  .col-lg-2 {
    width: 33.33%;
  }
  .col-lg-3 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
  }
  .col-md-1 {
    width: 50%;
  }
  .col-md-2 {
    width: 50%;
  }
  .col-md-3 {
    width: 100%;
  }
  }



